/* Custom styles for Web3 personas documentation */

/*@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url('https://fonts.cdnfonts.com/css/satoshi');

:root > * {
  --md-primary-fg-color: #9dc183;
  --md-typeset-mark-color: rgba(211,236,188,0.25);
  --md-accent-fg-color: #8db670;
}

:root > [data-md-color-scheme="slate"] {
  --md-primary-fg-color: #7d9a68;
  --md-typeset-mark-color: rgba(82,113,65,0.75);
}

.md-content {
  font-size: 16px;
}

.md-typeset :is(h1, h2, h3, h4, h5, h6) {
  color: var(--md-primary-fg-color);
  font-family: Satoshi;
  font-weight: 600;
}

.md-typeset pre {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 4px;
}
img {
  width: 300px;
  display:flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
}

.custom-screenshots {
  border-radius: 0.6rem;
  display: block;
  width: 90%;
  /* Use these to centre all screenshots (if required )*/

  margin-left: auto;
  margin-right: auto;

  /* Use these to left align all screenshots */
  /*
  margin-top: 3rem;
  margin-bottom: 3rem;
  */
}

.custom-icon {
  border-radius: 0.1rem;
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.w3p-thumbnail-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.w3p-thumbnail-set {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.w3p-thumbnail {
  width:25%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}